<div class="container-fluid">
  <form [formGroup]="reservationForm">
    <div class="row">
      <div class="col-xl-5">
        <div *ngIf="!updateMode">
          <div class="form-group">
            <label class="text-white" for="surname">Surname:</label>
            <input
              type="text"
              class="form-control"
              id="surname"
              placeholder="Surname"
              formControlName="surname"
            />
          </div>
          <div class="form-group">
            <label class="text-white" for="age">Age:</label>
            <input
              type="number"
              class="form-control"
              id="age"
              placeholder="Age"
              formControlName="age"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="text-white" for="pickUpDate">Pick Up Date:</label>
          <input
            placeholder="Pick Up Date"
            class="form-control"
            id="pickUpDate"
            formControlName="pickUpDate"
            [owlDateTimeTrigger]="pickUpD"
            [owlDateTime]="pickUpD"
          />
          <owl-date-time #pickUpD></owl-date-time>
        </div>
        <div class="form-group">
          <label class="text-white" for="returnDate">Return Date:</label>
          <input
            placeholder="Return Date"
            class="form-control"
            id="returnDate"
            formControlName="returnDate"
            [owlDateTimeTrigger]="returnD"
            [owlDateTime]="returnD"
          />
          <owl-date-time #returnD></owl-date-time>
        </div>
        <div class="form-group">
          <label class="text-white" for="pickUpLocationSelect"
            >Pick Up Location</label
          >
          <select
            class="form-control"
            id="pickUpLocationSelect"
            formControlName="pickUpLocation"
          >
            <option *ngFor="let location of locations" [ngValue]="location.id">
              {{ location.name }}
            </option>
          </select>
        </div>
        <div class="form-check mb-2">
          <input
            [ngModelOptions]="{ standalone: true }"
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="returnLocationSameAsPickUp"
            id="returnLocationSameAsPickUp"
          />
          <label
            class="form-check-label text-white"
            for="returnLocationSameAsPickUp"
          >
            Return Location is the same as Pick Up Location
          </label>
        </div>
        <div class="form-group" *ngIf="!returnLocationSameAsPickUp">
          <label class="text-white" for="returnLocationSelect"
            >Return Location</label
          >
          <select
            class="form-control"
            id="returnLocationSelect"
            formControlName="returnLocation"
          >
            <option *ngFor="let location of locations" [ngValue]="location.id">
              {{ location.name }}
            </option>
          </select>
        </div>
        <button
          *ngIf="!updateMode && !isCreating"
          type="button"
          class="btn btn-secondary"
          (click)="makeReservation()"
        >
          Make Reservation
        </button>
        <button
          class="btn btn-secondary mx-auto pl-5 pr-5 m-2"
          type="button"
          disabled
          *ngIf="!updateMode && isCreating"
        >
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Fetching data...
        </button>
        <button
          *ngIf="updateMode && !isUpdating"
          type="button"
          class="btn btn-secondary"
          (click)="updateReservation()"
        >
          Confirm Update
        </button>
        <button
          class="btn btn-secondary mx-auto pl-5 pr-5 m-2"
          type="button"
          disabled
          *ngIf="updateMode && isUpdating"
        >
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Fetching data...
        </button>
      </div>
      <div class="col-xl-7">
        <app-choose-car
          [reservationForm]="reservationForm"
          [model]="updateMode"
        ></app-choose-car>
      </div>
    </div>
  </form>
</div>
