<div class="container-fluid p-5">
  <div class="row">
    <h1 class="mx-auto text-white">Welcome to our Car Rental App!</h1>
  </div>

  <div class="row m-3">
    <h4 class="mx-auto text-white">
      Check all available cars in our Car Rentals!
    </h4>
  </div>
  <div class="row m-3">
    <a href="" role="button" class="btn btn-secondary mx-auto" [routerLink]="['/cars']">
      Check Now!
    </a>
  </div>
  <div class="row m-3">
      <h4 class="mx-auto text-white">
        Rent a new Car!
      </h4>
    </div>
    <div class="row m-3">
      <a href="" role="button" class="btn btn-secondary mx-auto" [routerLink]="['/rent']">
        Rent a car Now!
      </a>
    </div>
    <div class="row m-3">
        <h4 class="mx-auto text-white">
          Manage Your Reservation!
        </h4>
      </div>
      <div class="row m-3">
        <a href="" role="button" class="btn btn-secondary mx-auto" [routerLink]="['/manageRent']">
          Go Now!
        </a>
      </div>
</div>
