<nav class="navbar navbar-dark bg-secondary navbar-expand-lg fixed-top">
  <ul class="navbar-nav mr-auto">
    <li
      class="nav-item"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a class="nav-link" [routerLink]="['/cars']">Cars</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/rent']">Rent</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/manageRent']">Manage Reservation</a>
    </li>
  </ul>
</nav>
<div class="container-fluid p-5 full mt-5" ng-view>
  <div class="row ">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
