<h2 class="text-white">Choose Car:</h2>
<div *ngIf="isLoading">
  <strong class="text-white">Loading available cars... </strong>
  <div
    class="spinner-border text-light ml-auto"
    role="status"
    aria-hidden="true"
  ></div>
</div>

<h4 class="text-white" *ngIf="!isLoading && cars.length == 0">
  There is no avaiable cars at this time.
</h4>

<div
  class="btn-group-vertical btn-group-toggle"
  ngbRadioGroup
  *ngIf="!isLoading && cars.length > 0"
  [formGroup]="reservationForm"
>
  <div
    *ngIf="
      reservationForm.get('carId').invalid &&
      (reservationForm.get('carId').dirty ||
        reservationForm.get('carId').touched ||
        reservationForm.get('carId').pristine)
    "
    class="alert alert-dark m-2"
  >
    Car must be selected!
  </div>
  <label ngbButtonLabel class="btn btn-secondary m-2 shadow rounded" *ngFor="let car of cars">
    <input
      ngbButton
      type="radio"
      [value]="car.id"
      name="carId"
      formControlName="carId"
    />
    <app-choose-car-detail [car]="car"></app-choose-car-detail>
  </label>
</div>
