<div class="card border-dark bg-secondary mb-1 mt-1" >
  <div class="row no-gutters">
    <div class="col-md-4 align-self-center">
      <img class="card-img-top rounded" src="{{ car.imageURL }}" />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="font-weight-bold text-white">Description</p>
        <p class="card-text text-white">{{ car.description }}</p>
        <hr>
        <p class="text-white"><span class="font-weight-bold text-white">Price:</span> {{ car.price }} per hour</p>
      </div>
    </div>
  </div>
</div>
